@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Lato);
/* ****************** **
** Modern CSS3 Buttons
** Yunus BAŞŞAHAN
** yunusbassahan.com
** ****************** */
body {
  margin: 0px;
  padding: 0px;
  background-color: #E5E9EC;
}

#flat {
  height: 180px;
  text-align: center;
  overflow: hidden;
  padding: 40px 0px;
}
#flat h1 {
  font-family: 'Lato', sans-serif;
}
