/* ****************** **
** Flat CSS3 Buttons
** Yunus BAŞŞAHAN
** yunusbassahan.com
** ****************** */

@import url(http://fonts.googleapis.com/css?family=Montserrat);

$grey		: #5a5a5a;
$green 		: #0AA699;
$purple		: #6a598d;
$navy-blue 	: #22262E;
$pink 		: #F35958;
$blue 		: #0090D9;
$yellow 	: #FDD01C;

@mixin flat-shadow($px, $color, $value) {
	@if $value != "" {
		-webkit-box-shadow: 0px $px 0px $color * $value;
		   -moz-box-shadow: 0px $px 0px $color * $value;
				box-shadow: 0px $px 0px $color * $value;
	} @else {
		-webkit-box-shadow: 0px $px 0px $color;
		   -moz-box-shadow: 0px $px 0px $color;
				box-shadow: 0px $px 0px $color;
	}		
}

@mixin flat-create($color) {
	background-color: $color;
	@include flat-shadow(3px, $color, .8);

	&:active {
		@include flat-shadow(1px, $color, '');
	}

	&:hover {
		background-color: $color * .95;
	}
}

.flat {
	font-family: 'Montserrat';
	text-transform: uppercase;
	border: none;
	text-align: center;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	color: #fafafa;

	&.xs {
		padding: 3px 9px;
		font-size: 13px;
	}

	&.sm {
		padding: 9px 12px;
		font-size: 13px;
	}

	&.md {
		padding: 12px 15px;
		font-size: 13px;
	}

	&.lg {
		padding: 15px 24px;
		font-size: 15px;
	}

	&:active {
		position: relative;
		top: 2px;
	}

	&.grey {
		@include flat-create($grey);
	}

	&.green {
		@include flat-create($green);
	}

	&.purple {
		@include flat-create($purple);
	}
	
	&.navy-blue {
		@include flat-create($navy-blue);
	}
	
	&.pink {
		@include flat-create($pink);
	}
	
	&.blue {
		@include flat-create($blue);
	}
	
	&.yellow {
		@include flat-create($yellow);
	}
	
}