/* ****************** **
** Flat CSS3 Buttons
** Yunus BAŞŞAHAN
** yunusbassahan.com
** ****************** */

@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro&subset=latin,latin-ext);

body {
	margin: 0px;
	padding: 0px;
	background-color: #E5E9EC;
}

header {
	width: 100%;
	height: 175px;
	background-color: #fafafa;
	overflow: hidden;

	h1 {
		margin: 0px;
		padding-top: 18px;
		text-align: center;
		font-family: 'Lato', sans-serif;
		font-size: 24px;
		color: #4C5264;
	}

	p {
		text-align: center;
		font-family: 'Lato', sans-serif;

		a {
			color: #0091BE;
			-webkit-transition : all 0.2s ease 0s;
			   -moz-transition : all 0.2s ease 0s;
				 -o-transition : all 0.2s ease 0s;
				 	transition : all 0.2s ease 0s;

			&:hover {
				color: #4C5264;
			}
		}
	}
}

main {
	article {
		text-align: center;
		overflow: hidden;
		padding: 40px;
		border-bottom: 1px solid #ccc;

		h2 {
			font-family: 'Lato', sans-serif;
			margin: 0px;
			margin-bottom: 20px;
			font-size: 18px;
			color: #4C5264;
		}

		pre {
			width: 500px;
			margin: auto;
			margin-bottom: 30px;
			padding: 10px;
			background-color: #f5f5f5;
			border: 1px solid #ddd;
			font-family: 'Source Code Pro' ;
			font-size: 14px;
			color: #444;
		}
	}
}

.github-badge {
	position: absolute; 
	top: 0; 
	right: 0; 
	border: 0;
}

footer {
	@extend header;
	height: 105px;
}